* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
header {
  background-color: #27AE60;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu 
.izquierda {
  flex: 1;
  background: #EB984E;
  padding: 20px;
}
*/

/* Style the list inside the menu 
.izquierda ul {
  list-style-type: none;
  padding: 0;
}
*/

.column {
  float: left;
  width: 20%;
  padding: 15px;
  background-color: red;
  border: solid black 4px;
}

.column2 {
  float: left;
  width: 70%;
  padding: 15px;
  background-color: red;
  border: solid black 4px;
}

/* Style the content */
article {
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.lateralfijo{
  position: fixed;
  right: 0;
  width: 60px;
  height: 150px;
  background-color: #F8C471;
  border-style: solid;
  border-color: green;
  border-width: 5px;
  border-right-style: none;
  margin: 0;
}

.lateralfijo ul li{
  text-decoration: none;
  list-style-type: none;
}

.lateralfijo ul {
  padding-left: 0px;
  margin: 5px;
}

.lateralfijo ul li a img {
  max-width: 40px;
  height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li{
  float: left;
  border-right: 1px solid #bbb;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.active{
  background-color: #04AA6D;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other 
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

*/

@media (max-width: 600px) {
  .column2{
    width: 100%;
  }

  .column{
    width: 0%;
  }

}

@media (max-width: 800px) {
  .column{
    width: 30%;
  }

}