* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
header {
  background-color: #519259;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu 
.izquierda {
  flex: 1;
  background: #EB984E;
  padding: 20px;
}
*/

/* Style the list inside the menu 
.izquierda ul {
  list-style-type: none;
  padding: 0;
}
*/

.column {
  float: left;
  width: 20%;
  padding: 15px;
  background-color: #C64756;
  border: solid black 4px;
  border-left-style: none;
  border-right-style: none;
}

.column2 {
  float: left;
  width: 70%;
  padding: 15px;
  background-color: #4A4B4A;
  border: solid black 4px;
  border-right-style: none;
}

/* Style the content */
article {
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #2F302F;
  padding: 10px;
  text-align: center;
  color: white;
}

.lateralfijo{
  position: fixed;
  right: 0;
  width: 60px;
  height: 140px;
  background-color: #C64756;
  margin: 0;
}

.lateralfijo ul li{
  text-decoration: none;
  list-style-type: none;
}

.lateralfijo ul {
  padding-left: 0px;
  margin: 5px;
}

.lateralfijo ul li a img {
  max-width: 40px;
  height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li{
  float: left;
  border-right: 1px solid #bbb;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.active{
  background-color: #04AA6D;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .column{
    width: 100%;
  }

  .column2{
    width: 100%;
    height: auto;
  }
}

.column ul{
  padding: 10px;
}

.column ul li img{
  width: 100%;
  height: 200px;
}

.column ul li p{
  text-align: center;
  font-family: cursive;
}

.column ul li p a{
  text-decoration: none;
  color: black;
}

.titulo{
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.lanzamientos{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 38%;
}

.objetoLanzamientos{
  position: flex;
  display: inline-block;
  float: left;
  width: 13%;
}

.objetoLanzamientos img{
  width: 90%;
  height: auto;
}

.objetoLanzamientos hr{
  display: inline-block;
  width: 90%;
  background-color: red;
  border-color: black;
  height: 4px;
  margin-bottom: 0;
}

.objetoLanzamientos p{
  width: 90%;
  height: auto;
  margin: 5px;
}

.objetoLanzamientos a{
  text-decoration: none;
  color: black;
}