* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #4A4B4A;
}

/* Estilos para el header */
header {
  background-color: #519259;
  padding: 30px;
  text-align: center;
}

header img{
  width: 15%;
  height: 15%;
}

/* Efecto CSS Avanzado*/
header img:hover{
  -webkit-transform:scale(1.3);transform:scale(1.3);
  overflow:hidden;
}

/* ------------------------ */

/* Estilos del nav */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li{
  float: left;
  border-right: 1px solid #bbb;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* Efecto CSS Avanzado*/
  text-shadow: 2px 2px 4px #000000;
}

nav ul li a:hover {
  background-color: #111;
}

.active{
  background-color: #04AA6D;
}

li.dropdown {
  display: inline-block;
}

.contenido-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenido-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.contenido-dropdown a:hover {background-color: #f1f1f1;}

.dropdown:hover .contenido-dropdown {
  display: block;
}

/* ------------------------ */

/* Estilos para lateral fijo */

.lateralfijo{
  position: fixed;
  right: 0;
  width: 60px;
  height: 140px;
  background-color: #C64756;
  margin: 0;
  z-index: 99;
}

.lateralfijo ul li{
  text-decoration: none;
  list-style-type: none;
}

.lateralfijo ul {
  padding-left: 0px;
  margin: 5px;
}

.lateralfijo ul li a img {
  max-width: 40px;
  height: 40px;
}

/* Efecto CSS Avanzado*/
.lateralfijo ul li a img:hover{
  filter: opacity(.5);
}

/* ------------------------ */

/* Estilos para la galeria flexbox */

section h2{
  text-align: center;
  background-color: #519259;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria,sans-serif;

  /* Efecto CSS Avanzado*/
  box-shadow: 10px 10px 5px #333;

  /* Efecto CSS Avanzado*/
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.row img{
  width: 100%;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

.caja{
  position: relative;
}

/* Efecto CSS Avanzado*/
.caja img:hover{
  filter: saturate(180%);
}

.textoartista{
  position: absolute;
  bottom: 0;
  text-align: left;
  font-size: 15px;
  color: white;
  /* Efecto CSS Avanzado*/
  background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 10px;
}

/* ------------------------ */

/* Estilos para el footer */
footer {
  background-color: #2F302F;
  padding: 10px;
  text-align: center;
  color: white;
}

footer img{
  width: 20px;
  height: 15px;
  background-color: white;
}

#contenedor{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}

#sobrenosotros{
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 300px;
  margin-top: 50px;
  width: 15%;
  height: auto;
}

footer ul li{
  list-style: none;
}

.union{
  display: inline-block;
}

#separador{
  display: inline-block;
  position: relative;
  width: 2px;
  height: auto;
  border-left-style: solid;
  border-left-color: #C64756;
  border-left-width: 3px;
  margin-left: 30px;
}

#pago{
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 20px;
}

#pago img{
  width: auto;
  height: auto;
}

/* ------------------------ */

/* Media queries para el tamaño de la pagina */
@media (max-width: 1200px) {

  #contenedor{
    width: auto;
    height: auto;
  }

  .objetoLanzamientos{
    flex: 25%;
    width: 80%;
  }
}

@media (max-width: 800px) {

  #contenedor{
    width: 100%;
    height: auto;
  }

  #pago{
    flex: 100%;
    width: auto;
  }

  .objetoLanzamientos{
    flex: 25%;
    width: 80%;
  }

  .column{
    flex: 50%;
  }
}

@media (max-width: 600px) {

  #contenedor{
    width: 100%;
    height: auto;
  }

  #contenedor *{
    flex: 100%;
    margin-left: 0px;
  }

  .objetoLanzamientos{
    flex: 100%;
    max-width: 50%;
  }

  .column{
    flex: 100%;
  }

  /* ------------------------ */
}